[submodule "external/bx"]
	path = external/bx
	url = https://github.com/bkaradzic/bx.git
[submodule "external/bgfx"]
	path = external/bgfx
	url = https://github.com/bkaradzic/bgfx.git
[submodule "external/bimg"]
	path = external/bimg
	url = https://github.com/bkaradzic/bimg.git
[submodule "external/glfw"]
	path = external/glfw
	url = https://github.com/glfw/glfw.git
[submodule "external/glm"]
	path = external/glm
	url = https://github.com/g-truc/glm.git
[submodule "external/loguru"]
	path = external/loguru
	url = https://github.com/emilk/loguru.git
