[submodule "external/bx"]
	path = external/bgfx/bx
	url = https://github.com/bkaradzic/bx.git
[submodule "external/bgfx"]
	path = external/bgfx/bgfx
	url = https://github.com/bkaradzic/bgfx.git
[submodule "external/bimg"]
	path = external/bgfx/bimg
	url = https://github.com/bkaradzic/bimg.git
[submodule "external/glfw"]
	path = external/glfw
	url = https://github.com/glfw/glfw.git
[submodule "external/glm"]
	path = external/glm
	url = https://github.com/g-truc/glm.git
[submodule "external/loguru"]
	path = external/loguru
	url = https://github.com/emilk/loguru.git
[submodule "external/eastl/EASTL"]
	path = external/eastl/EASTL
	url = https://github.com/electronicarts/EASTL.git
[submodule "external/eastl/EABase"]
	path = external/eastl/EABase
	url = https://github.com/electronicarts/EABase.git
[submodule "external/EABase"]
	path = external/eastl/EABase
	url = https://github.com/electronicarts/EABase.git
[submodule "external/rapidjson"]
	path = external/rapidjson
	url = https://github.com/Tencent/rapidjson.git
[submodule "external/optick"]
	path = external/optick
	url = https://github.com/bombomby/optick
